////////////////////////////////////////////////////////////////////////////////
//                                                                            //
//                      SEE ./README.md FOR DOCUMENTATION                     //
//                                                                            //
////////////////////////////////////////////////////////////////////////////////

//// Global Settings

// Use one picture per month
//
// If this is set to true, an image per month will be displayed (if available)
// instead of an random image from img directory

// Plugin-Konfiguration für rc_login_background
$config['rc_login_background_color'] = '#ffffff'; // Hintergrundfarbe
$config['rc_login_background_monthly'] = true;    // Monatliches Bild (01.jpg, 02.jpg, ...)
$config['rc_login_background_random'] = false;    // Zufälliges Bild aus assets/images/
$config['rc_login_background_image'] = '';        // Fixed image filename in assets/images/ (e.g. 'mybackground.jpg')
