<?php

/**
 * Plugin configuration for rc_login_background
 *
 * Copy this file to one of:
 *   - /path/to/roundcube/config/rc_login_background.inc.php  (recommended)
 *   - /path/to/roundcube/plugins/rc_login_background/config.inc.php
 *
 * Or add these $config entries to your main config/config.inc.php
 */

$config['rc_login_background_color']   = '#ffffff';
$config['rc_login_background_monthly'] = true;
$config['rc_login_background_random']  = false;
$config['rc_login_background_image']   = '';
